/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(Preloader_11.gif) center no-repeat #fff;
}
.face:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}

#imagen{
  float: inherit;
  }
  
  
  .modal-open .container-fluid, .modal-open  .container, .modal-open   .nav, .modal-open   .wizard-container, .modal-open   .wizard-card,.list-open .container-fluid{
      filter: blur(3px);


  }
  .p{
margin-left:2%;

  }
  
 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 300px) {
  body{
    padding-top: 400px;

font-stretch: ultra-condensed;
}

} 

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 414px) {
  body{
    padding-top: 150px;

font-stretch: ultra-condensed;
}

} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body{
    padding-top: 400px;
    font-stretch: ultra-condensed;

    }
    

} 

/* Medium devices (landscape tablets, 768px and up)*/
@media only screen and (min-width: 768px) {
  body{
    padding-top: 210px;
    font-stretch: ultra-condensed;

    }
    
}  

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body{
    padding-top: 200px;
    font-stretch: ultra-condensed;

    }
    

} 

/* Large devices (laptops/desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {
  body{
    padding-top: 220px;
    font-stretch: ultra-condensed;

    }
    

} 


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body{
    padding-top: 200px;
    font-stretch: ultra-condensed;
 
    }
    


}